<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show Trade Settlement</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div>
    <p th:text="'รวมมูลค่าตามรายการ: ' + ${tradeSettlementMonetarySummation.lineTotalAmount}" />
    <p th:text="'มูลค่าที่นำมาคิดภาษีมูลค่าเพิ่ม: ' + ${tradeSettlementMonetarySummation.taxBasisTotalAmount}" />
    <p th:text="'จำนวนภาษีมูลค่าเพิ่ม: ' + ${tradeSettlementMonetarySummation.taxTotalAmount}" />
    <p th:text="'ยอดเงินรวม: ' + ${tradeSettlementMonetarySummation.grandTotalAmount}" />
    <p th:text="'ส่วนลดทั้งหมด: ' + ${tradeSettlementMonetarySummation.allowanceTotalAmount}" />
    <p th:text="'ค่าธรรมเนียมทั้งหมด: ' + ${tradeSettlementMonetarySummation.chargeTotalAmount}" />
    <a href="/create/settlement">Submit another trade settlement</a>
</div>
</body>
</html>
